body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  background: #333;
  color: snow;
}

#dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  transform: translate3d(-50%,-50%,0);
  background: #555;
  padding: 10px;
  border-radius: 5px;
  border: 100% solid rgba(0, 0, 0, 2.5);
}

.blur {
  pointer-events: none;
  /* DON'T FORGET to ALSO set on focusable CHILDREN: 
  tabindex="-1"
  aria-hidden="true"
  */
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
